option_settings:
  # Instance configuration
  aws:ec2:instances:
    InstanceTypes: t4g.medium
  
  # Auto Scaling configuration
  aws:autoscaling:asg:
    MinSize: '1'
    MaxSize: '1'
  
  # Environment type
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  
  # Application environment
  aws:elasticbeanstalk:application:environment:
    HealthCheckPath: "/health"
  
  # Disable rolling updates
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: 'false'